*{
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: Raleway;
  src: url(Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: Post No Bills Jaffna SemiBold;
  src: url(PostNoBills/PostNoBillsJaffna-SemiBold.ttf);
}

body{
  background-color: #242B33;
}

#header{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.header-menu{
  position: relative;
  left: 50%;
  top: 25px;
  list-style: none;
  display: flex;

  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;

color: #FFFFFF;

}

.header-logo{
  position: relative;
  left: 0%;
}

.header-logo-uppertext{
  font-family: Post No Bills Jaffna SemiBold;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;

color: #FFFFFF;
}

.header-logo-undertext{
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.12em;
color: #FFFFFF;
}

li{
  padding: 0 5px;
}

#header{
  background-image: url(Rectangle.png);
  height: 100vh;
}

#hero{
  top: 100px;
}

.container{
  display: flex;
  justify-content: space-around;

}

.hero-content{
  display: grid;
  justify-content: center;
  position: relative;
  top: 250px;
}

.hero-content-content{
  width: 556px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: #D4C17F;
}

.hero-phone{
  position: relative;
  top: 300px;
  left: -10%;

  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}

.hero-place{
  position: relative;
  top: 280px;
  left: 90%;

  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

.place{
  position: relative;
  top: 260px;
  left: 85%;
}

.Phone{
  position: relative;
  top: 240px;
  left: -15%;
}
